.container {
    border: 1px solid red;
    margin: 0 auto;
}

.btn-container {
    display: flex;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.task {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    margin: 8px;
}

.task-name {
    font-size: 32px;
    margin-right: 16px;
}

.btn-delete, .btn-edit {
    font-size: 36px;
    color: red;
}

.input {
    display: flex;
    justify-content: space-between;
}

.input input {
    width: 70%;
    height: 52px;
    outline: none;
    font-size: 32px;
}

.task input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 32px;
    color: red;
}

.btn-add {
    width: 30%;
    font-size: 24px;
    color: green;
}

.btn-edit {
    color: rgb(98, 195, 53);
}
.show {
    display: block;
}

.hide {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    margin: 0 auto;
}

.language {
    display: flex;
    gap: 10px;
}

.language div {
    padding: 8px;
    margin-bottom: 8px;
}

.language div.language-selected {
    border: 1px solid green;
}

.test {
    color:aqua;
}

#btn-sort-desc, #btn-sort-asc {
    font-size: 24px;
    margin: 8px 0;
    font-weight: 700;
}